body {
    margin: 0%;
    background-image: url("img/back-home.png");
    background-attachment: fixed;
    background-size: cover;
}


.arriba {
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
}

.abajo {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: small;
}

img {
    width: 30px;
}
.footer{
    border: 2px solid rgb(27, 155, 234);
}
.row {
    display: flex;
}