@media only screen and (max-width: 1800px) {
    .medio{
        margin-top: 15%;
        margin-bottom: 15%;
    }

  }
  
  @media only screen and (max-width: 600px) {
    .medio{
        margin-top: 30%;
        margin-bottom: 30%;
    }

    @media only screen and (max-width: 320px) {
        .medio{
            margin-top: 70%;
            margin-bottom: 80%;
        }
    
    }