body {
    margin: 0%;
    background-image: url("img/back-pages.png");
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: large;
  }
  
  #img {
    width: 30%;
    text-align: center;
    margin-bottom: 7%;
    padding-bottom: 10%;
  }
  
  @media only screen and (max-width: 1024px) {
    #img {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
        margin-top: 0%;
        font-family: 'Chalkduster', 'Dancing Script', 'Courier New', Courier, monospace;
        color: rgb(206, 120, 0);
        padding-top: 0%;
        padding-bottom: 1%;
        padding-left: 0%;
    }
    .cabecera {
        padding-left: 0%;
        
        
    }
    #menu li {
        display: inline;
        font-size: small;
        padding: 4%;
    }
    
    #img {
      width: 100%;
    }
    #reserva {
        font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: whitesmoke;
        font-size: small;
        padding-left: 0%;
    
    }
    
    #siguenos {
        font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: whitesmoke;
        font-size: small;
        padding-right: 5%;
        padding-bottom: 0%;
    }
    
    #arroba {
        font-size: small;
        color: rgb(206, 120, 0);
        font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-right: 1%;
    }

    img {
        padding-top: 20%;
        width: 25px;
        height: 25px;
    }

    .contenedor{
        margin-top: 15%;
    }
    @media only screen and (max-width: 300px) {
        h1 {
            text-align: center;
            margin-top: 0%;
            font-family: 'Chalkduster', 'Dancing Script', 'Courier New', Courier, monospace;
            color: rgb(206, 120, 0);
            padding-top: 0%;
            padding-bottom: 1%;
            padding-left: 0%;
        }
        .cabecera {
            padding-left: 0%;
            font-size: xx-small;
        }
        .contenedor{
            margin-top: 15%;
        }
        #menu li {
            display: inline;
            padding: 4%;
            font-size: xx-small;
        }
        
        #img {
          width: 70%;
        }
        #reserva {
            font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: whitesmoke;
            font-size: xx-small;
            padding-left: 0%;
        
        }
        
        #siguenos {
            font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: whitesmoke;
            font-size: xx-small;
            padding-right: 5%;
            padding-bottom: 0%;
        }
        
        #arroba {
            font-size: xx-small;
            color: rgb(206, 120, 0);
            font-family: 'Marker Felt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding-right: 1%;
        }
    
        img {
            padding-top: 20%;
            width: 25px;
            height: 25px;
        }
    
    }
  }

  .img-all{
    width: 80%;
    height: 50%;
  }
  .img-bebidas{
    width: 80%;
    height: 55%;
  }